:root {
    --color-footer-bg: #000000;
    --color-main-bg: #ffffff;
    --color-color-button: #0061ff;
    --color-color-contrast: #b4d0e7;
    --color-border-square1: #d1e9cd;
    --color-main-square1: #a2d39b;
    --color-square3: #0093ce;
    --color-square2: #61082b;
    --color-suqare4: #ff1c1c;
    --color-big-square: #f5f5f5;
    --color-square5: #d5001f;
    --color-suqare6: #b4d0e7;
    --color-squate7: #0d2481;
    --color-square8: #ffd830;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* general */
.container {
    max-width: 1200px;
    margin: 0px auto;
}

.s-container {
    max-width:1000px;
    padding: 0px 2px;
    margin: 0px auto;
}

a {
    color: var(--color-footer-bg);
}

header ul,
header div {
    gap: 20px;
}
/* utility */
.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}

.button {
    background-color: var(--color-color-button);
    color: var(--color-main-bg);
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}

/* body */
body {
    font-family: "Open Sans", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"wdth" 100; */
    background-color: var(--color-main-bg);
}

/* header */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    padding: 0px 10px;
    background-color: var(--color-main-bg);
    z-index: 1001;
}

/* main */
#hero,
main {
    margin-top: 60px;
}

h1 {
    font-size: 3.5em;
}

/* hero */
#hero {
    background-color: var(--color-color-contrast);
}

#b-hero {
    position: relative;
    left: 0px;
    top: 55px;
}

.m-20 {
    margin: 20px 0px;
}

.fa-arrow-down {
    margin-top: 25px;
}

.adapted-img {
    width: 100%;
    min-width: 300px;
    object-fit: contain;
    display: block;
}

/* business */
.card-cont {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(100% / 3 - 10px);
}

.upper-card {
    border: 1px solid var(--color-footer-bg);
    text-align: center;
}

.main-card {
    border: 1px solid var(--color-footer-bg);
    padding: 20px 10px;
}
.main-card h3 {
    text-align: center;
}
.card-option {
    gap: 3px;
    margin-bottom: 10px;
}
.main-card .button {
    font-size: smaller ;
    margin: 20px auto;
}
/* .main-card ul>li {
    list-style-type: 
} */

/* partner */
#partner div.w-40 {
    padding: 40px;
}

/* multitasking */
.card2 {
    width: calc(100% / 3 - 20px);
}

/* team users */
#team-users a {
    color: -webkit-link;
    text-decoration: underline;
}
/* brands */
.square {
    width: 35vw;
    min-width: 300px;
    aspect-ratio: 1/1 ;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

}
.c-brands {
    width: 30vw;
    max-height: 300px;
    overflow-y: auto;
}
.s-square {
    width: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#brands img {
    width: 50%;
    filter: invert(100%);    
}
.designt {
    background-color: var(--color-main-square1);
}
.arizona {
    background-color: var(--color-square2);
}
.florida {
    background-color: var(--color-square3);
}
.topps {
    background-color: var(--color-suqare4);
}

/* cta */
#cta {
    background-color: var(--color-color-contrast);
    padding: 40px 0px;
}
#cta h2 {
    color: var(--color-square2);
}

/* footer */
footer {
    background-color: var(--color-footer-bg);
    color: var(--color-main-bg);
}
footer span {
    padding-right: 5px;
    padding-left: 10px;
}
footer i {
    color: var(--color-main-bg);
}