:root {
	--color-footer-bg: #000000;
	--color-main-bg: #ffffff;
	--color-color-button: #0061ff;
	--color-color-contrast: #b4d0e7;
	--color-border-square1: #d1e9cd;
	--color-main-square1: #a2d39b;
	--color-square3: #0093ce;
	--color-square2: #61082b;
	--color-suqare4: #ff1c1c;
	--color-big-square: #f5f5f5;
	--color-square5: #d5001f;
	--color-suqare6: #b4d0e7;
	--color-squate7: #0d2481;
	--color-square8: #ffd830;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* general */
.container { 
    max-width: 800px;
    margin: 0px auto;
}
.s-container {
    max-width: 600px;
    padding: 0px 2px;
    margin: 0px auto;
}

a {
    color: var(--color-footer-bg);
}
header ul, header div {
    gap: 20px;
}

.button {
    background-color: var(--color-color-button);
    color: var(--color-main-bg);
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}

/* body */
body {
    font-family: "Open Sans", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:"wdth" 100; */
    background-color: var(--color-main-bg);
    font-size: small;
    
}

/* header */
header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    padding: 0px 10px;
    background-color: var(--color-main-bg);
    z-index: 1001;
}

/* main */
#hero, main {
    margin-top: 60px;
}
h1 {
    font-size: 3.5em;
}

/* hero */
#hero {
    background-color: var(--color-color-contrast);
}
#b-hero {
    position: relative;
    left: 0px;
    top: 55px;
}
.l-hero {
    width: 30%;
}
.l-hero span {
    margin: 20px 0px;
}
.fa-arrow-down {
    margin-top: 25px;
}

.r-hero {
    width: 70%;
}
.r-hero>img {
    width: 100%;
    min-width: 400px;
    object-fit: contain;
    display: block;
}


/* section7 */
.designit {

}
/* footer */
footer {
    background-color: var(--color-footer-bg);
    color: var(--color-main-bg);
}
